body {
	font-family: 'Open Sans', sans-serif;
	background-color: #ffb005;
}

#wrap {
	width: 500px;
	margin: auto;
}
#header {
	font-size: 24px;
	font-weight: 800; 
	background-image: url('../images/header.png');
	height:500;
	width:200;
}

#seach_box {
	margin: auto;
}

#search_textbox {
	background-color: #ffb005;
}