body {
	font-family: 'Open Sans', sans-serif;
	background-color: #ffb005;
}

#wrap {
	width: 500px;
	margin: auto;
}
#header {
	background-image: url('../images/header.png');
	height:200px;
	width:500px;
	background-repeat: no-repeat;
}

#seach_box {
	margin: auto;
}

#search_textbox {
	background-color: #ffb005;
	margin: 0 auto;
}


input[type="text"]{
	background-color: #ffeabd;
}

input[type="password"]{
	background-color: #ffeabd;
}

input[type="submit"]{
	background-image: url('../images/search_unpressed.png');
}

#searchImage {
	background-color: transparent;
	width: 300px;
}

